<!-- desarrollado por pascual -->
<div class="container">
    <div style="margin-top: 50px;">
        <h2>Contact</h2>
            <p class="fs-6"> Un formulario de contacto es una herramienta que permite a los visitantes de un sitio web enviar un
                mensaje a la persona encargada del sitio. </p>
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 50px;">
        <form class="col-8" style="background-color: rgb(231, 231, 231); border-radius: 5px; padding: 40px; margin-left: 0px;">
            <div class="row">
                <div class="col-4 text-end">
                    <label for="email"><strong>Your E-mail</strong></label>
                </div>
                <div class="col-7 mb-3">
                    <input type="email" class="form-control" id="email" value="" placeholder="Your email here">
                </div>
                <div class="col-4 text-end">
                    <label for="comment"><strong>Your message</strong></label>
                </div>
                <div class="col-7">
                    <textarea id="comment" class="form-control" name="story"
                        placeholder="Please enter your message here..."></textarea>
                </div>
            </div>
            <div class="d-grid justify-content-end" style="padding-top: 10px; padding-right: 58px;">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
    </div>


    <!--
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Please enter your message here...</textarea>
  </div>  -->