<!-- your html code here -->
  <!--Franco Flores-->
  <ul class="nav justify-content-start bg-dark align-items-center ">
    <li class="nav-item">
        <a class="nav-link text-white-50 fs-5" aria-current="page" href="#">Start Bootstrap</a>
      </li>
    <li class="nav-item">
      <a class="nav-link  text-white-50  " aria-current="page" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  text-white-50" href="#">Services</a>
    </li>
    <li class="nav-item  ">
      <a class="nav-link text-white-50" href="#">Portfolio</a>
    </li>
    <li class="nav-item  ">
        <a class="nav-link text-white-50" href="#">Contact</a>
      </li>
  </ul>
